{% extends "base.html" %}
{% block content %}

<h1>Applications</h1>

<a class="btn" href="{% url 'application_create' %}">Add Application</a>

<table class="table">
    <tr>
        <th>Job</th>
        <th>Status</th>
        <th>Applied Date</th>
        <th>Days Since Applied</th>
        <th>Actions</th>
    </tr>

    {% for a in applications %}
    <tr>
        <td>{{ a.job.title }}</td>
        <td>{{ a.status }}</td>
        <td>{{ a.applied_date }}</td>
        <td>{{ a.days_since_applied }}</td>
        <td>
            <a class="edit" href="{% url 'application_update' a.application_id %}">Edit</a>
            <a class="delete" href="{% url 'application_delete' a.application_id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
